* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 1em;
}

header {
    background-color: cadetblue;
    margin-bottom: 4em;
}

#contenido {
    width: min(30em, 100%);
    background-color: bisque;
    margin: 1em auto;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

#monedaDestino {
    margin-bottom: 1em;
}

label {
    font-weight: bold;
}

.inputs {
    width: 50%;
    border-radius: .3em;
    border: none;
    height: 2em;
}

select {
    border-radius: .3em;
    height: 2em;
}

footer p{
    text-align: center;
    padding: 2em;
    font-weight: bold;
    font-size: 1.2em;
}

#registro {
    margin: 2em;
}

footer {
    margin-top: 6em;
    background-color: cadetblue;
}

#btnCalcular {
    padding: 1em;
    background-color: cadetblue;
    border: none;
    border-radius: .5em;
    margin: 0 1em;
    color: white;
    font-weight: bold;
}

#btnCalcular:hover {
    background-color: yellow;
    cursor: pointer;
    color: black;
}

#btnRegistro {
    padding: 1em;
    background-color: cadetblue;
    border: none;
    border-radius: .5em;
    margin: 0 1em;
    color: white;
    font-weight: bold;
}

#btnRegistro:hover {
    background-color: yellow;
    cursor: pointer;
    color: black;
}

#registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registro label {
    margin: .3em 0;
}

.label-registro {
    border: 1px solid;
    height: 2em;
    width: 10em;
}

#btnBorrar {
    margin: 1em 0;
    padding: 1em;
    background-color: cadetblue;
    border: none;
    border-radius: .5em;
    color: white;
    font-weight: bold;
    width: 30%;
    font-size: 1em;
}

#btnBorrar:hover {
    color: black;
    background-color: yellow;
    cursor: pointer;
}

